@media screen and (max-width: 375px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .logo {
    position: relative;
    height: 60px;
    width: 55.16px;
    margin-top: 10px;
    margin-left: 12px;
  }
  .video {
    position: relative;
    width: 345px;
    height: 200.54px;
    margin-left: 16px;
    margin-top: 41px;
    border: 3px solid #ee3d48;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video__image {
    position: absolute;
    overflow: hidden;
    width: 327.38px;
    height: 187.46px;
    padding: 6.27px 6.31px;
    border-radius: 8px;
  }
  .video__image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
  }
  .video__image--player {
    position: absolute;
    top: 2px;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .video__image__control {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 50;
  }
  .video__image__control--circle {
    position: absolute;
    width: 70px;
    height: 70px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  .video__image__control--button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
  }
  .video__dots {
    position: absolute;
    right: -0px;
    top: 100px;
    z-index: -1;
  }
  .video__ellipse {
    position: absolute;
    z-index: -1;
    left: -2px;
    top: 200px;
  }
  .modalWindow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgb(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }
  .modalWindow.hide {
    display: none;
    z-index: -10;
  }
  .modalWindow .video__image--player {
    top: 55%;
    left: 50%;
    width: 97%;
    height: 60%;
    transform: translate(-50%, -60%);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.9);
    outline: none;
  }
  .modalWindow__fas {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    background-color: rgb(0, 0, 0, 0.3);
    height: 40px;
    width: 40px;
    color: black;
    font-size: 17.44px;
  }
  .text {
    position: relative;
    margin-top: 61.46px;
    margin-left: 16px;
  }
  .text__main {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52.75px;
    height: 106px;
    width: 345px;
    color: #ee3d48;
  }
  .text__main--span {
    color: black;
  }
  .text__paragraph {
    margin-top: 20px;
    height: 95px;
    width: 345px;
    font-family: "Work Sans", sans-serif;
  }
  .text__paragraph a {
    color: red;
    text-decoration: underline;
  }
  .text__detail {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    margin-top: 24.5px;
    width: 345px;
    height: 217px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: #131313;
  }
  .text__detail__content {
    display: flex;
    justify-content: center;
    position: relative;
    width: 156px;
    height: 90px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
  }
  .text__detail__image {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
  }
  .text__detail__text {
    position: absolute;
    bottom: 0;
  }
  .photobuds {
    margin-left: 16px;
    margin-top: 80px;
  }
  .photobuds__heading {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 42.2px;
  }
  .photobuds__sort {
    margin-top: 19.42px;
    font-family: "Work Sans", sans-serif;
    display: flex;
  }
  .photobuds__sort label {
    width: 78px;
    height: 15.54px;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    color: #131313;
  }
  .select {
    position: relative;
  }
  select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin-left: 16px;
    width: 130px;
    font-family: inherit;
    font-size: 14px;
    cursor: pointer;
    line-height: 16px;
    color: #939598;
    opacity: 0.5;
  }
  .select__arrow {
    position: absolute;
    right: -140px;
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: -5;
  }
  .cardSection {
    position: relative;
    width: 375px;
  }
  .photoCards {
    box-shadow: 1px 2px 13px 4px rgba(0, 0, 0, 0.09);
  }
  .cards {
    position: relative;
    margin-top: 19.26px;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
  }
  .card__images {
    position: relative;
    display: flex;
    margin-left: 16px;
    margin-top: 16px;
    transition: all 1s ease;
  }
  .card__image {
    margin-right: 16px;
    height: 222px;
    width: 296px;
  }
  .card__image__arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-left: 16px;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.24);
  }
  .card__image__arrow img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card__image__arrow.left {
    left: 24px;
  }
  .card__image__arrow.right {
    left: 273px;
  }
  .dots {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    width: 56px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
  }
  .dots__dot {
    height: 4px;
    width: 8px;
    border-radius: 10px;
    left: 50%;
    background-color: #d5dae0;
  }
  .dots__dot.long {
    width: 24px;
  }
  .activeDot {
    height: 4px;
    background-color: #ee3d48;
    position: absolute;
    left: 13.3px;
    border-radius: 10px;
  }
  .cardTitle {
    margin-top: 16.84px;
    margin-left: 16px;
  }
  .cardTitle__main {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    font-style: normal;
  }
  .cardTitle__measurement {
    margin-top: 10px;
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    font-style: normal;
    color: #6a6a6a;
  }
  .extraOptions {
    position: relative;
    margin-left: 16px;
    margin-top: 24.09px;
  }
  .extraOptions__title {
    position: relative;
    font-family: "Work Sans", sans-serif;
    padding: 3px;
    width: 73px;
    height: 14px;
    background-color: #f1f2f2;
    color: #ee3d48;
    font-weight: 600;
    font-size: 12px;
  }
  .extraOptions__title::after {
    content: "";
    position: absolute;
    width: 73px;
    height: 0px;
    border: 0.5px solid #ee3d48;
    bottom: -6px;
    left: 0px;
  }
  .extraOptions__cards {
    position: relative;
    margin-top: 8px;
    margin-right: 20px;
    height: 165px;
    overflow: scroll;
  }
  .extraOptions__cards::-webkit-scrollbar {
    width: 3px;
    border-radius: 2px;
  }
  .extraOptions__cards::-webkit-scrollbar-thumb {
    background: #ee3d48;
  }
  .extraOptions__cards__container {
    background-color: #fafafa;
    height: 76px;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
  }
  .extraOptions__cards__pic {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background: url("./photo.jpeg");
    background-size: cover;
    margin-top: 8px;
    margin-left: 8px;
  }

  .extraOptions__cards__text {
    position: relative;
    font-family: "Work Sans", sans-serif;
    margin-left: 76px;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #131313;
    width: 194px;
    height: 18px;
  }
  .extraOptions__cards__text__head {
    position: absolute;
    width: 100%;
    margin-top: 14px;
    margin-left: 8px;
  }
  .number {
    position: absolute;
    margin-left: 5px;
  }
  .extraOptions__cards__text__price {
    font-family: "Roboto Slab";
    height: 18px;
    margin-left: 8px;
    line-height: 18px;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    position: absolute;
    margin-top: 44px;
    color: #ee3d48;
  }
  .extraOptions__cards__text__price .fa-ruble-sign {
    line-height: 18px;
    font-size: 12px;
  }
  .extraOptions__cards__check {
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    top: 15px;
    border: 1px solid #ee3d48;
    margin-left: 93%;
  }
  .extraOptions__cards__check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .extraOptions__cards__customMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: #ffffff;
  }

  .extraOptions__cards__customMark.activeInput{
    background-color:#ee3d48;
  }


  .timeRent {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
  .timeRent__heading {
    position: absolute;
    top: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #939598;
  }
  .timeRent__frames {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 30px;
  }
  .timeRent__frames--number {
    background-color: #f1f2f2;
    padding: 4px 4px;
    border-radius: 6px;
    width: max-content;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .timeRent__frames--number p {
    padding: 4px 10px;
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    line-height: 18px;
  }
  .timeRent__frames--number.active {
    background-color: #ee3d48;
    color: #ffffff;
  }
  .total {
    position: relative;
    margin-top: 130px;
    margin-left: 16px;
    display: flex;
    justify-content: space-between;
    width: 335px;
  }
  .total__price {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    line-height: 42.2px;
    color: #131313;
  }
  .total__price .fa-ruble-sign {
    font-size: 25px;
  }
  .total__invoice {
    font-family: "Roboto", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: #ee3d48;
    width: 167px;
    height: 40px;
    border-radius: 6px;
    margin-bottom: 18px;
  }
  .total__invoice p {
    line-height: 21px;
    font-size: 18px;
    font-weight: bold;
  }
  .question {
    margin-top: 62px;
    margin-left: 16px;
  }
  .question__main {
    position: relative;
  }
  .question__main--first {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ee3d48;
  }
  .question__main--second {
    font-family: "Roboto Slab";
    margin-top: 3px;
    font-style: normal;
    font-size: 32px;
    color: #131313;
    line-height: 42px;
    font-weight: bold;
  }
  .question__block {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .question__block__header {
    cursor: pointer;
    z-index: 10;
  }
  .question__block__header__title {
    position: relative;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 335px;
    padding: 14.5px 32px 14.5px 8px;
    background-color: #fafafa;
    border-radius: 4px;
    color: #131313;
    box-shadow: -3px 2px 7px 11px rgba(221, 221, 221, 0.48);
    transition: all 0.4s ease;
    z-index: 20;
  }
  .faq__arrow__up,
  .faq__arrow__down {
    position: absolute;
    top: 20px;
    right: 21px;
    z-index: 1;
  }
  .faq__arrow__up {
    display: none;
  }
  .question__block__header__title.active {
    background-color: #ee3d48;
    color: white;
    transition: all 0.4s ease;
  }
  .question__block__header__title.active .faq__arrow__down {
    display: none;
  }
  .question__block__header__title.active .faq__arrow__up {
    display: block;
  }
  .question__block__header__text {
    display: None;
    position: relative;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    margin-left: 9px;
    margin-right: 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    margin-top: 14px;
    opacity: 0;
  }
  .question__block__header__text::before {
    content: "";
    left: -9px;
    position: absolute;
    width: 1px;
    height: 120px;
    border-radius: 2px;
    background-color: #ee3d48;
  }
  .question__block__header__text.active {
    display: block;
    opacity: 1;
    transition: opacity 3s ease 2s;
  }
  .news {
    background-color: #fafafa;
    margin-right: 16px;
    width: 340px;
  }
  .news__photo {
    position: relative;
    margin-top: 20px;
    width: 330px;
    height: 328px;
    margin-right: 16px;
    text-align: center;
  }
  .news__photo .news__photo__image {
    display: inline-block;
    width: 340px;
  }
  .news__photo__arrow {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    bottom: -16px;
    left: 8px;
  }
  .news__detail {
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 18px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.9px;
  }
  .news__detail__service {
    margin-top: 30px;
    margin-right: 16px;
    color: #ee3d48;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-style: normal;
    height: 14px;
    letter-spacing: 1.1px;
  }
  .news__detail__title {
    margin-top: 4px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    font-style: normal;
  }
  .news__detail__content {
    margin-top: 8px;
    line-height: 14px;
    color: #131313;
    font-style: normal;
  }
  .news__detail__date {
    margin-top: 20px;
    padding-bottom: 20px;
    line-height: 14px;
    color: #6a6a6a;
    font-style: normal;
  }
  .more {
    margin-top: 30px;
  }
  .more__bar {
    position: relative;
    width: 340px;
    height: 40px;
    border: 1px solid #ee3d48;
    border-radius: 6px;
    margin-left: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .more__bar p {
    color: #ee3d48;
    display: flex;
    justify-content: center;
    position: absolute;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
  }
  .hideNews {
    display: none;
  }
  .news__modal {
    position: relative;
  }
  .modalResize {
    position: relative;
    top: 38%;
  }
  .modalWindow.rebrand {
    display: none;
  }
  .photoCards.rebrand {
    box-shadow: 1px 2px 13px 4px rgba(0, 0, 0, 0.09);
    margin-left: 50%;
  }
  .cards__stop__over.rebrand {
    position: relative;
    margin: -220px auto;
    width: 360px;
    border: 2px solid transparent;
  }
  .card__rebrand {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19.26px;
    margin-left: 4px;
    width: 98%;
    margin-right: 2px;
    overflow: hidden;
    border: 2px solid transparent;
  }
  .card__images.rebrand {
    border: 2px solid red;
    border: 2px solid transparent;
    position: relative;
    display: flex;
    width: 320px;
    height: 320px;
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 16px;
    transition: all 1s ease;
  }
  .card__image.rebrand {
    height: 320px;
    width: 100%;
  }
  .cards__stop__over {
    position: relative;
  }
  .card__image__arrow.rebrand {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.5;
    z-index: 5;
  }
  .card__image__arrow img.rebrand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card__image__arrow.left.rebrand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    left: 6px;
  }
  .card__image__arrow.right.rebrand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    left: 308px;
  }
  .card__image__arrow.rebrand.cancel {
    top: 27px;
    left: 305px;
  }
  .dots.rebrand {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 56px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }
  .dots__dot {
    height: 4px;
    width: 8px;
    border-radius: 10px;
    left: 50%;
    background-color: #d5dae0;
  }
  .dots__dot.long {
    width: 24px;
  }
  .activeDot {
    height: 4px;
    background-color: #ee3d48;
    position: absolute;
    left: 13.3px;
    border-radius: 10px;
  }
  .color {
    position: absolute;
    margin-top: -4px;
    left: 21px;
    height: 200px;
    width: 316px;
    background-color: #ffffff;
  }
  .modal__news__content {
    position: absolute;
    margin-top: -4px;
    left: 21px;
    right: 19px;
  }
  .news__modal__detail__mini {
    position: absolute;
    top: 28px;
    left: 12px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    color: #ee3d48;
    letter-spacing: 0.9;
  }
  .news__modal__detail__date {
    position: absolute;
    top: 30px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #6a6a6a;
    letter-spacing: 0.9;
    right: 12px;
  }
  .news__modal__content__main {
    position: absolute;
    top: 56px;
    left: 12px;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    color: #131313;
  }
  .news__modal__content__text p {
    display: inline-block;
    position: absolute;
    top: 96px;
    left: 12px;
    right: 12px;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    line-height: 130%;
    font-weight: normal;
    color: #131313;
    height: 85px;
    overflow: scroll;
  }
  .news__modal__content__text p a {
    color: #ee3d48;
    text-decoration: underline;
  }
  .modalWindow.total_order {
    background-color: #ffffff;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .modalWindow.total_order.reveal {
    display: block;
    transform: translateY(0%) scale(1);
  }
  .orders {
    margin-top: 10px;
    position: relative;
    width: 100%;
    margin-left: 6px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    opacity: 0;
  }
  .modalWindow.total_order.reveal .orders {
    opacity: 1;
    transition: all 3s ease;
  }
  .order__title {
    position: absolute;
    top: 16px;
    left: 16px;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
    line-height: 42.2px;
    color: #131313;
  }
  .cancel__order {
    position: absolute;
    height: 17.44px;
    width: 17.44px;
    top: 27.28px;
    right: 27.28px;
  }
  .cardTitle__main.order {
    position: absolute;
    top: 90px;
    left: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #131313;
  }
  .cardTitle__measurement.order {
    position: absolute;
    font-style: normal;
    line-height: 14px;
    font-weight: 500;
    top: 100px;
    left: 16px;
  }
  .current__order__price {
    position: absolute;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #131313;
    top: 98px;
    right: 58px;
    letter-spacing: 0.9;
  }
  .current__order__price .fa-ruble-sign {
    font-size: 12px;
  }
  .photobuds__sort.order {
    position: absolute;
    top: 136px;
    left: 16px;
  }
  .select.order {
    position: absolute;
    border: 1px solid #d5dae0;
    border-radius: 6px;
    width: 82px;
    height: 32px;
  }
  select {
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(19, 19, 19, 1);
  }
  select:focus {
    outline: none;
  }
  .select.order option {
    position: absolute;
  }
  .select.order option:focus {
    outline: none;
  }
  .select__arrow.order {
    opacity: 0.5;
    right: 8px;
    top: 55%;
    z-index: -1;
    transform: translateY(-50%);
  }
  .moreOptions {
    position: relative;
    height: max-content;
    margin-top: 200px;
    margin-left: 16px;
    width: 300px;
  }
  .moreOptions::after {
    content: "";
    position: absolute;
    width: 330px;
    border: 1px solid #ebebeb;
  }
  .chosenOptions {
    font-family: "Work Sans", sans-serif;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #131313;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  .chosenOptions .fa-ruble-sign {
    font-size: 12px;
  }
  .order_detail {
    height: 62%;
    margin-bottom: 10px;
  }
  .remainder {
    position: relative;
    height: 140px;
  }
  .totalCost {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 330px;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .totalCost__title {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
  }
  .totalCost__price {
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
  }
  .totalCost__price .fa-ruble-sign {
    font-size: 27px;
    opacity: 0.8;
  }
  .phoneNumber {
    position: absolute;
    top: 76px;
    left: 16px;
    border: 1px solid #ee3d48;
    width: 330px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    color: #131313;
  }
  .phoneNumber:focus {
    outline: none;
  }
  .phoneNumber::placeholder {
    display: inline-block;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    color: #131313;
    padding-left: 10px;
  }
  .photobuds__sort.form {
    position: absolute;
    top: 60px;
    height: 33px;
    width: 170px;
    left: 170px;
    background-color: #f5f5f5;
    border-radius: 6px;
    z-index: 2;
  }
  .select.form {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    left: 20px;
    z-index: 2;
  }
  .select__arrow.form {
    top: 50%;
    left: 130px;
    z-index: -1;
  }
  .total__invoice.checkout {
    position: absolute;
    top: 129px;
    left: 16px;
    width: 330px;
    height: 40px;
  }
  .contacts {
    position: relative;
    margin-top: 60px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .contact__intro {
    font-family: "Work Sans", sans-serif;
    position: relative;
    color: #ee3d48;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
  }
  .contact__heading {
    font-family: "Roboto Slab", serif;
    position: relative;
    margin-top: 4px;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #131313;
  }
  .contact__infos {
    position: relative;
    margin-top: 20px;
  }
  .contact__info {
    font-family: "Roboto Slab", serif;
    display: flex;
  }
  .contact__info img {
    position: relative;
    margin-top: 4px;
    height: 24px;
    width: 24px;
  }
  .contact__group {
    margin-left: 24px;
  }
  .contact__group::after {
    content: "";
    top: 77px;
    position: absolute;
    width: 280px;
    border: 1px solid #d5dae0;
  }
  .contact__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    font-style: normal;
    color: #131313;
    letter-spacing: 0.8px;
  }
  .contact__detail {
    position: absolute;
    margin-top: 4px;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #6a6a6a;
    letter-spacing: 0.6px;
  }
  .contact__info.address {
    margin-top: 60px;
  }
  .contact__group.address::after {
    top: 230px;
  }
  .contact__info.mail {
    margin-top: 125px;
    margin-left: 24px;
    margin-bottom: 60px;
  }
  .contact__group.mail:after {
    display: none;
  }
  .contact__detail a {
    text-decoration: underline;
  }
  .addPointer {
    pointer-events: auto;
  }
  .removePointer {
    pointer-events: none;
  }
}
